[Bb]ackup*/
[Bb]in/
[Dd]ebug*/
[Dd]eploy/
[Oo]bj/
[Pp]ublish/
[Rr]elease*/
_UpgradeReport_Files/
UpgradeLog.XML

*.aps
*.bak
*.cache
*.DS_Store
*.exe
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.pfx
*.sbr
*.snk
*.suo
*.svn
*.tlb
*.tlh
*.user
*.userprefs
*.vspscc
*.vspx

Thumbs.db